<mat-card>
    <mat-card-content>
        <mat-card>
            <mat-card-content>
                <div class="contenido-editar">
                    <!-- Botón para iniciar el tour -->
                    <button id="start-detail-tour-btn" (click)="startDetailTour()" class="tour-button">
                        Iniciar Tutorial
                    </button>
                    <mat-card-title class="titulo" id="driver-detail-title" (click)="startDetailTour()">CONSULTA DEL LOG 01</mat-card-title>
                    <button class="boton-salir" id="driver-close-btn" (click)="onCloseClick()">x</button>
                </div>
                <mat-divider class="divider"></mat-divider>
                <mat-card-content>
                    <mat-card id="driver-details-section">
                        <mat-card-title class="tituloNivelDos" id="driver-details-title">DETALLES DEL
                            LOG</mat-card-title>
                        <br>
                        <mat-card-content>
                            <form [formGroup]="detallesLogForm">
                                <div class="grid">
                                    <div class="left-column">
                                        <div class="field-container" id="driver-name-field">
                                            <p class="nombre-input">Nombre Responsable: *</p>
                                            <input type="text" formControlName="nombreResponsable"
                                                id="driver-name-input">
                                        </div>
                                        <div class="field-container" id="driver-doc-field">
                                            <p class="nombre-input">Documento Responsable: *</p>
                                            <input type="text" formControlName="documentoResponsable"
                                                id="driver-doc-input">
                                        </div>
                                        <div class="field-container" id="driver-ip-field">
                                            <p class="nombre-input">Dirección Acción: *</p>
                                            <input type="text" formControlName="direccionAccion" id="driver-ip-input">
                                        </div>
                                    </div>
                                    <div class="right-column">
                                        <div class="field-container" id="driver-type-field">
                                            <p class="nombre-input">Tipo de origen: *</p>
                                            <input type="text" formControlName="tipo_log" id="driver-type-input">
                                        </div>
                                        <div class="field-container" id="driver-date-field">
                                            <p class="nombre-input">Fecha de Ejecución: *</p>
                                            <input type="text" formControlName="fechaEjecucion" id="driver-date-input">
                                        </div>
                                        <div class="field-container" id="driver-email-field">
                                            <p class="nombre-input">Correo responsable: *</p>
                                            <input type="text" formControlName="rol" id="driver-email-input">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </mat-card-content>
                    </mat-card>
                    <br>
                    <mat-card id="driver-transaction-section">
                        <mat-card-title class="tituloNivelDos" id="driver-transaction-title">DATA:
                            (TRANSACCIÓN)</mat-card-title>
                        <br>
                        <mat-card-content>
                            <form [formGroup]="dataLogForm">
                                <div class="bordered-container">
                                    <p class="nombre-input" id="driver-apis-label">API'S QUE CONSUMEN:</p>
                                    <textarea formControlName="apiConsume" class="textarea"
                                        id="driver-apis-textarea"></textarea>
                                    <p class="nombre-input" id="driver-request-label">PETICIÓN REALIZADA:</p>
                                    <textarea formControlName="peticionRealizada" class="textareaNivelDos"
                                        id="driver-request-textarea"></textarea>
                                    <p class="nombre-input" id="driver-db-label">EVENTO EJECUTADO EN LA BASE DE DATOS:
                                    </p>
                                    <textarea formControlName="eventoBD" class="textareaNivelDos"
                                        id="driver-db-textarea"></textarea>
                                </div>
                            </form>
                        </mat-card-content>
                    </mat-card>
                    <br>
                    <mat-card id="driver-error-section">
                        <mat-card-title class="tituloNivelDos" id="driver-error-title">ERROR/ES</mat-card-title>
                        <br>
                        <mat-card-content>
                            <form [formGroup]="errorLogForm">
                                <div class="bordered-container">
                                    <div class="field-container" id="driver-error-type-field">
                                        <p class="nombre-input">TIPO ERROR: (info)</p>
                                        <input type="text" formControlName="tipoError" id="driver-error-type-input">
                                    </div>
                                    <p class="nombre-input" id="driver-error-message-label">MENSAJE DE ERROR:</p>
                                    <textarea formControlName="mensajeError" class="textarea"
                                        id="driver-error-message-textarea"></textarea>
                                </div>
                            </form>
                        </mat-card-content>
                    </mat-card>
                    <br>
                </mat-card-content>
            </mat-card-content>
        </mat-card>
    </mat-card-content>
    <button id="start-tour-btn" (click)="startDetailTour()" class="tour-button">
    <mat-icon>help_outline</mat-icon> Iniciar Tutorial
    </button>
</mat-card>