.nombre-input{
    display: inline-flex;
    align-items: baseline;
    box-sizing: border-box;
    width: 100%;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 13px;
}

.check{
    color: green;
}

.boton-accion{
    background-color: green;
    color: white;
    font-family: Helvetica, sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%;
    padding: 5px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    padding: 0 16px;
    position: relative;
}

.left-column {
    flex: 1;
    padding-right: 10px;
}

.right-column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.columns-container {
    display: flex;
    gap: 10px;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.contenedor-horizontal {
    display: flex;
    align-items: center;
    gap: 14px; 
}

.contenedor-horizontal-campos {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    padding: 0 16px;
}

.campo {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 10px;
}

.tooltip {
    font-family: Helvetica, sans-serif;
    width: max-content;
    background-color: #FFF2CC;
    border: 1px solid #D6B656;
    color: #858585;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1000;
    font-size: 14px;
    line-height: 1.5;
    white-space: pre-wrap;
    text-align: left;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.tooltip-right {
    top: 50%;
    left: calc(100% + 5px);
    transform: translateY(-50%);
    transition: opacity 0.3s;
    max-width: 300px;
    height: auto;
}

.tooltip-bottom {
    top: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
}

.tooltip-left {
    width: 300px;
    top: 50%;
    right: calc(100% + 5px);
    margin-left: 5px;
    transform: translateY(-50%);
}

input[formControlName="nombre"] {
    text-transform: uppercase;
}

.boton-ayuda {
    position: relative;
    font-family: Helvetica, sans-serif;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: #858585;
    border: 2px solid #858585;
    line-height: 5px;
    margin-left: 5px;
}
.boton-ayuda div{
    width: 17px;
    height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.boton-ayuda:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

mat-card{
    box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.2);
}

input, select, textarea{
    width: 100%;
    border-radius: 5px;
    border: 1px solid;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    padding: 3px;
    box-sizing: border-box;
    margin-bottom: 16px;
    margin-top: 2px;
}

.card {
    background: var(--surface-card);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}


/* Driver JS */

.driver-popover.driverjs-theme .driver-popover-title {
  font-size: 20px;
}

.driver-popover.driverjs-theme .driver-popover-title {
  color: #731514 !important;
}
.driver-popover.driverjs-theme .driver-popover-description,
.driver-popover.driverjs-theme .driver-popover-progress-text{
  color: #000;
}
.driver-popover.driverjs-theme .driver-popover-progress-text{
    margin-right: 1rem;
}

.driver-popover.driverjs-theme button {
  &.driver-popover-prev-btn,&.driver-popover-next-btn{
    background-color: #731514 !important;
    border: 2px solid #731514 !important;
  }
  &.driver-popover-close-btn{
    color: #731514 !important;
    font-size: 1.3rem;
    &:hover{
      background-color: #ffffff !important;
    }
  }
  flex: 1;
  text-align: center;
  color: #ffffff;
  text-shadow: none;
  font-size: 14px;
  padding: 5px 8px;
  border-radius: 6px;
}

.driver-popover.driverjs-theme button:hover {
  background-color: #3a0b0a !important;
  color: #ffffff;
}
.driver-popover.driverjs-theme .driver-popover-navigation-btns {
  justify-content: space-between;
  gap: 3px;
}

.driver-popover.driverjs-theme .driver-popover-close-btn {
  color: #ffffff;
  background-color: #00000000;
  border: none;
}

.driver-popover.driverjs-theme .driver-popover-close-btn:hover {
  color: #ffffff;
  background-color: #00000000;
}

.driver-popover.driverjs-theme .driver-popover-arrow-side-left.driver-popover-arrow {
  border-left-color: #731514 !important;
}

.driver-popover.driverjs-theme .driver-popover-arrow-side-right.driver-popover-arrow {
  border-right-color: #731514 !important;
}

.driver-popover.driverjs-theme .driver-popover-arrow-side-top.driver-popover-arrow {
  border-top-color: #731514 !important;
}

.driver-popover.driverjs-theme .driver-popover-arrow-side-bottom.driver-popover-arrow {
  border-bottom-color: #731514 !important;
}
